{% block emzet_conversion_header %}
    <div class="emzet-desktop-wrapper" 
        style="font-size: 14px;">
        <div class="container">
            <div class="emzet-item">
                {{shopware.theme['emzet-desktop-text1']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-desktop-text2']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-desktop-text3']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-desktop-text4']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-desktop-text5']}}
            </div>
        </div>
    </div>
    <div class="emzet-tablet-wrapper" 
        style="font-size: 14px;">
        <div class="container">
            <div class="emzet-item">
                {{shopware.theme['emzet-tablet-text1']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-tablet-text2']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-tablet-text3']}}
            </div>
        </div>
    </div>
    <div class="emzet-smartphone-wrapper" 
        style="font-size: 14px;">
        <div class="container">
            <div class="emzet-item">
                {{shopware.theme['emzet-smartphone-text1']}}
            </div>
            <div class="emzet-item">
                {{shopware.theme['emzet-smartphone-text2']}}
            </div>
        </div>
    </div>
{% endblock %}

